/.idea/.idea.OptimalBinarySearchTree/.idea/.gitignore
/OptimalBinarySearchTree/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/OptimalBinarySearchTree/obj/Debug/net8.0/apphost.exe
/.idea/.idea.OptimalBinarySearchTree/.idea/indexLayout.xml
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.AssemblyInfo.cs
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.AssemblyInfoInputs.cache
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.assets.cache
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.csproj.CoreCompileInputs.cache
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.csproj.FileListAbsolute.txt
/OptimalBinarySearchTree/obj/OptimalBinarySearchTree.csproj.nuget.dgspec.json
/OptimalBinarySearchTree/obj/OptimalBinarySearchTree.csproj.nuget.g.props
/OptimalBinarySearchTree/obj/OptimalBinarySearchTree.csproj.nuget.g.targets
/OptimalBinarySearchTree/bin/Debug/net8.0/OptimalBinarySearchTree.deps.json
/OptimalBinarySearchTree/bin/Debug/net8.0/OptimalBinarySearchTree.dll
/OptimalBinarySearchTree/obj/Debug/net8.0/ref/OptimalBinarySearchTree.dll
/OptimalBinarySearchTree/obj/Debug/net8.0/refint/OptimalBinarySearchTree.dll
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.dll
/OptimalBinarySearchTree/bin/Debug/net8.0/OptimalBinarySearchTree.exe
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.GeneratedMSBuildEditorConfig.editorconfig
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.genruntimeconfig.cache
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.GlobalUsings.g.cs
/OptimalBinarySearchTree/bin/Debug/net8.0/OptimalBinarySearchTree.pdb
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.pdb
/OptimalBinarySearchTree/bin/Debug/net8.0/OptimalBinarySearchTree.runtimeconfig.json
/OptimalBinarySearchTree/obj/Debug/net8.0/OptimalBinarySearchTree.sourcelink.json
/OptimalBinarySearchTree/obj/project.assets.json
/OptimalBinarySearchTree/obj/project.nuget.cache
/OptimalBinarySearchTree/obj/project.packagespec.json
/OptimalBinarySearchTree/obj/rider.project.model.nuget.info
/OptimalBinarySearchTree/obj/rider.project.restore.info
/.idea/.idea.OptimalBinarySearchTree/.idea/vcs.xml
